{% extends 'base2.html' %} {% block body %} {% load static %}

<!-- Content -->

<div class="container-xxl flex-grow-1 container-p-y">
  <!-- Header -->
  <div class="row">
    <div class="col-12">
      <div class="card mb-6">
        {% comment %} <div class="user-profile-header-banner">
          <img src="{% static "assets/img/pages/profile-banner.png" %}"
          alt="Banner image" class="rounded-top" />
        </div> {% endcomment %}
        <div
          class="user-profile-header d-flex flex-column flex-sm-row text-sm-start text-center mb-5"
        >
          <div class="flex-shrink-0 mt-n2 mx-sm-0 mx-auto">
            <img
              src="{% static "assets/img/avatars/1.png" %}"
              alt="user image"
              class="d-block h-auto ms-0 ms-sm-5 rounded-4 user-profile-img"
            />
          </div>
          <div class="flex-grow-1 mt-4 mt-sm-12">
            <div
              class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-5 flex-md-row flex-column gap-6"
            >
              <div class="user-profile-info">
                <h4 class="mb-2">{{ display.full_name }}</h4>
                <ul
                  class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-4"
                >
                  <li class="list-inline-item">
                    <i class="ri-user-3-line me-2 ri-24px"></i
                    ><span class="fw-medium">{{ employee.designation }}</span>
                  </li>
                  <li class="list-inline-item">
                    <i class="ri-building-2-line me-2 ri-24px"></i
                    ><span class="fw-medium">{{employee.department}}</span>
                  </li>
                  <li class="list-inline-item">
                    <i class="ri-calendar-line me-2 ri-24px"></i
                    ><span class="fw-medium">{{ employee.date_of_joining }}</span>
                  </li>
                </ul>
              </div>
              {% comment %} <a href="javascript:void(0)" class="btn btn-primary">
                <i class="ri-user-follow-line ri-16px me-2"></i>Connected
              </a> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Header -->

  <!-- Navbar pills -->
  <div class="row">
    <div class="col-md-12">
      <div class="nav-align-top">
        <ul class="nav nav-pills flex-column flex-sm-row mb-6 row-gap-2">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"
              ><i class="ri-user-3-line me-2"></i>Profile</a
            >
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="pages-profile-teams.html"
              ><i class="ri-team-line me-2"></i>Teams</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages-profile-projects.html"
              ><i class="ri-computer-line me-2"></i>Projects</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pages-profile-connections.html"
              ><i class="ri-link-m me-2"></i>Connections</a
            >
          </li> {% endcomment %}
        </ul>
      </div>
    </div>
  </div>
  <!--/ Navbar pills -->

  <!-- User Profile Content -->
  <div class="row">
    <div class="col-xl-4 col-lg-5 col-md-5">
      <!-- About User -->
      <div class="card mb-6">
        <div class="card-body">
          <small class="card-text text-uppercase text-muted small">
            <i class="ri-building-4-line ri-24px"></i>
          About</small> 
            {% comment %} <div class="card-header align-items-center">
          <h5 class="card-action-title mb-0">
            <i class="ri-profile-line ri-24px text-body me-4"></i>Personal Info
          </h5>
        </div> {% endcomment %}
          <ul class="list-unstyled my-3 py-1">
            <li class="d-flex align-items-center mb-4">
              <i class="ri-id-card-line ri-24px"></i
              ><span class="fw-medium mx-2">Employee Code:</span>
              <span>{{ employee.employee_code }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              <i class="ri-briefcase-4-line ri-24px"></i
              ><span class="fw-medium mx-2">Designation:</span>
              <span>{{ employee.designation }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              <i class="ri-building-2-line ri-24px"></i
              ><span class="fw-medium mx-2">Department</span>
              <span>{{ employee.department }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              <i class="ri-calendar-check-line ri-24px"></i
              ><span class="fw-medium mx-2">Date of Joining:</span>
              <span>{{ employee.date_of_joining }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              <i class="ri-calendar-todo-line ri-24px"></i
              ><span class="fw-medium mx-2">Date of Confirmation:</span>
              <span>{{ employee.date_of_confirmation }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              <i class="ri-map-pin-line ri-24px"></i
              ><span class="fw-medium mx-2">Location:</span>
              <span>{{ employee.location }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              <i class="ri-wallet-3-line ri-24px"></i
              ><span class="fw-medium mx-2">Payroll Of:</span>
              <span>{{ employee.payroll_of }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              <i class="ri-time-line ri-24px"></i
              ><span class="fw-medium mx-2">Shift:</span>
              <span>{{ employee.shift }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              <i class="ri-check-line ri-24px"></i
              ><span class="fw-medium mx-2">Status:</span>
              <span>{{ employee.status }}</span>
            </li>
          </ul>
          <small class="card-text text-uppercase text-muted small"
            >
            <i class="ri-shield-user-line ri-24px"></i>
            Statutory Details</small
          >
          <ul class="list-unstyled my-3 py-1">
            <li class="d-flex align-items-center mb-4">
              {% comment %} <i class="ri-building-4-line ri-24px"></i> {% endcomment %}
              <span class="fw-medium mx-2">PAN No:</span>
              <span>{{ employee.pan_no }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              {% comment %} <i class="ri-phone-line ri-24px"></i> {% endcomment %}
              <span class="fw-medium mx-2">Aadhar No:</span>
              <span>{{ employee.aadhar_no }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              {% comment %} <i class="ri-phone-line ri-24px"></i> {% endcomment %}
              <span class="fw-medium mx-2">Voter ID:</span>
              <span>{{ employee.voter_id }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              {% comment %} <i class="ri-phone-line ri-24px"></i> {% endcomment %}
              <span class="fw-medium mx-2">Passport No:</span>
              <span>{{ employee.passport }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              {% comment %} <i class="ri-phone-line ri-24px"></i> {% endcomment %}
              <span class="fw-medium mx-2">UAN No:</span>
              <span>{{ employee.uan_no }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              {% comment %} <i class="ri-phone-line ri-24px"></i> {% endcomment %}
              <span class="fw-medium mx-2">PF No:</span>
              <span>{{ employee.pf_no }}</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              {% comment %} <i class="ri-phone-line ri-24px"></i> {% endcomment %}
              <span class="fw-medium mx-2">ESIC No:</span>
              <span>{{ employee.esic_no }}</span>
            </li>
          </ul>
          <small class="card-text text-uppercase text-muted small">
            <i class="ri-bank-line ri-24px"></i>
            Bank Details</small>
          <ul class="list-unstyled mb-0 mt-3 pt-1">
            <li class="d-flex align-items-center mb-4">
              {% comment %} <i class="ri-github-line ri-24px text-body me-2"></i> {% endcomment %}
              <div class="d-flex flex-wrap">
                <span class="fw-medium me-2">Bank Name:</span
                ><span>{{employee.name_as_per_bank}}</span>
              </div>
            </li>
            <li class="d-flex align-items-center mb-4">
              {% comment %} <i class="ri-github-line ri-24px text-body me-2"></i> {% endcomment %}
              <div class="d-flex flex-wrap">
                <span class="fw-medium me-2">Account Number:</span
                ><span>{{employee.salary_account_number}}</span>
              </div>
            </li>
            <li class="d-flex align-items-center mb-4">
              {% comment %} <i class="ri-github-line ri-24px text-body me-2"></i> {% endcomment %}
              <div class="d-flex flex-wrap">
                <span class="fw-medium me-2">IFSC Code:</span
                ><span>{{employee.ifsc_code}}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--/ About User -->
      <!-- Profile Overview -->
      <div class="card mb-6">
        <div class="card-body">
          <small class="card-text text-uppercase text-muted small"
            >Overview</small
          >
          <ul class="list-unstyled mb-0 mt-3 pt-1">
            <li class="d-flex align-items-center mb-4">
              <i class="ri-check-line ri-24px"></i
              ><span class="fw-medium mx-2">Task Compiled:</span>
              <span>13.5k</span>
            </li>
            <li class="d-flex align-items-center mb-4">
              <i class="ri-user-3-line ri-24px"></i
              ><span class="fw-medium mx-2">Projects Compiled:</span>
              <span>146</span>
            </li>
            <li class="d-flex align-items-center">
              <i class="ri-star-smile-line ri-24px"></i
              ><span class="fw-medium mx-2">Connections:</span>
              <span>897</span>
            </li>
          </ul>
        </div>
      </div>
      <!--/ Profile Overview -->
    </div>
    <div class="col-xl-8 col-lg-7 col-md-7">
      <!-- Activity Timeline -->
      <div class="card card-action mb-6">
        <div class="card-header align-items-center">
          <h5 class="card-action-title mb-0">
            <i class="ri-profile-line ri-24px text-body me-4"></i>Personal Info
          </h5>
        </div>
        <div class="card-body pt-0">
         <div class="row">
          <!-- LEFT COLUMN -->
          <div class="col-md-6">
            <div class="mb-4 d-flex align-items-center">
              <i class="ri-account-circle-line ri-24px"></i>
              <span class="fw-medium mx-2">Full Name:</span>
              <span>{{ display.full_name }}</span>
            </div>

            <div class="mb-4 d-flex align-items-center">
              <i class="ri-user-line ri-24px"></i>
              <span class="fw-medium mx-2">Gender:</span>
              <span>{{ employee.gender }}</span>
            </div>

            <div class="mb-4 d-flex align-items-center">
              <i class="ri-heart-pulse-line ri-24px"></i>
              <span class="fw-medium mx-2">Blood Group:</span>
              <span>{{ employee.blood_group }}</span>
            </div>
          </div>

          <!-- RIGHT COLUMN -->
          <div class="col-md-6">
            <div class="mb-4 d-flex align-items-center">
              <i class="ri-user-2-line ri-24px"></i>
              <span class="fw-medium mx-2">Father Name:</span>
              <span>{{ employee.father_name }}</span>
            </div>

            <div class="mb-4 d-flex align-items-center">
              <i class="ri-briefcase-4-line ri-24px"></i>
              <span class="fw-medium mx-2">Role:</span>
              <span>{{ employee.designation }}</span>
            </div>

            <div class="mb-4 d-flex align-items-center">
              <i class="ri-cake-2-line ri-24px"></i>
              <span class="fw-medium mx-2">Date of Birth:</span>
              <span>{{ employee.date_of_birth }}</span>
            </div>
          </div>

          <!-- Now back to 2-column layout for the rest -->

          <div class="col-md-6">
            <div class="mb-4 d-flex align-items-center">
              <i class="ri-mail-open-line ri-24px"></i>
              <span class="fw-medium mx-2">Personal Email:</span>
              <span>{{ employee.personal_email }}</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-4 d-flex align-items-center">
              <i class="ri-smartphone-line ri-24px"></i>
              <span class="fw-medium mx-2">Personal Mobile:</span>
              <span>{{ employee.personal_mobile }}</span>
            </div>
          </div>

          <!-- FULL WIDTH ROW: Present Address -->
          <div class="col-12">
            <div class="mb-4 d-flex align-items-center">
              <i class="ri-map-pin-line ri-24px"></i>
              <span class="fw-medium mx-2">Present Address:</span>
              <span>{{ employee.present_address }}</span>
            </div>
          </div>

          <!-- FULL WIDTH ROW: Permanent Address -->
          <div class="col-12">
            <div class="mb-4 d-flex align-items-center">
              <i class="ri-home-4-line ri-24px"></i>
              <span class="fw-medium mx-2">Permanent Address:</span>
              <span>{{ employee.permanent_address }}</span>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-4 d-flex align-items-center">
              <i class="ri-calendar-event-line ri-24px"></i>
              <span class="fw-medium mx-2">Date of Marriage:</span>
              <span>{{ employee.date_of_marriage }}</span>
            </div>
          </div>

        <div class="card-header align-items-center">
          <h5 class="card-action-title mb-0">
            <i class="ri-contacts-book-line ri-24px text-body me-4"></i>Emergency Contact Details
          </h5>
        </div>
        <div class="card-body pt-0">
         <div class="row">
          <!-- LEFT COLUMN -->
          <div class="col-md-6">
            <div class="mb-4 d-flex align-items-center">
              <i class="ri-account-circle-line ri-24px"></i>
              <span class="fw-medium mx-2">Contact Name:</span>
              <span>{{ employee.emergency_contact_name1 }}</span>
            </div>

            <div class="mb-4 d-flex align-items-center">
              <i class="ri-user-line ri-24px"></i>
              <span class="fw-medium mx-2">Relation:</span>
              <span>{{ employee.emergency_contact_relation1 }}</span>
            </div>

            <div class="mb-4 d-flex align-items-center">
              <i class="ri-phone-line ri-24px"></i>
              <span class="fw-medium mx-2">Mobile No:</span>
              <span>{{ employee.emergency_contact_mobile1 }}</span>
            </div>
          </div>

          <!-- RIGHT COLUMN -->
          <div class="col-md-6">
            <div class="mb-4 d-flex align-items-center">
              <i class="ri-account-circle-line ri-24px"></i>
              <span class="fw-medium mx-2">Contact Name:</span>
              <span>{{ employee.emergency_contact_name2 }}</span>
            </div>

            <div class="mb-4 d-flex align-items-center">
              <i class="ri-user-line ri-24px"></i>
              <span class="fw-medium mx-2">Relation:</span>
              <span>{{ employee.emergency_contact_relation2 }}</span>
            </div>

            <div class="mb-4 d-flex align-items-center">
              <i class="ri-phone-line ri-24px"></i>
              <span class="fw-medium mx-2">Mobile No:</span>
              <span>{{ employee.emergency_contact_mobile2 }}</span>
            </div>
          </div>
</div>

        </div>
      </div>
      <!--/ Activity Timeline -->

      
      
    </div>
  </div>
  <!--/ User Profile Content -->
        <div class="row" style="padding: 14px">
          <!-- Projects table -->
            <div class="card mb-4">
              <h5 class="card-header">Previous Employment</h5>
              <div class="card-datatable table-responsive pb-0">
                <table class="table datatable-project table-border-bottom-0">
                  <thead>
                    <tr>
                      <th>Employer Name</th>
                      <th>From Date</th>
                      <th>To Date</th>
                      <th>Last CTC</th>
                    </tr>
                  </thead>
                  <tbody>
              {% if previous_employments %} {% for pre_emp in previous_employments %}

              <tr>                              
                <td>{{pre_emp.employer_name}}</td>
                <td>{{pre_emp.from_date}}</td>
                <td>{{pre_emp.to_date}}</td>
                <td>{{pre_emp.last_ctc}}</td>
                {% comment %} <td>
                  <div class="dropdown">
                    <a class="text-muted" href="#" data-bs-toggle="dropdown">
                      <i class="ti ti-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a
                        class="dropdown-item view-branch-btn"
                        href="#"
                        data-id="{{ branch.id }}"
                      >
                        <i class="ti ti-eye me-2"></i> View
                      </a>
                      <a
                        class="dropdown-item edit-branch-btn"
                        href="#"
                        data-id="{{ branch.id }}"
                      >
                        <i class="ti ti-edit me-2"></i> Edit
                      </a>
                      <a
                        class="dropdown-item text-danger"
                        href="javascript:void(0)"
                        onclick="confirmDelete({{ branch.id }})"
                      >
                        <i class="ti ti-trash me-2"></i> Delete
                      </a>
                    </div>
                  </div>
                </td> {% endcomment %}
              </tr>
              {% endfor %} {% else %}
              <tr>
                <td colspan="9" class="text-center">No data available</td>
              </tr>
              {% endif %}
            </tbody>
                </table>
              </div>
            </div> 
          <!--/ Projects table -->
          <!-- Projects table -->
            <div class="card mb-4">
              <h5 class="card-header">Attachments</h5>
              <div class="card-datatable table-responsive pb-0">
                <table class="table datatable-project table-border-bottom-0">
                  <thead>
                    <tr>
                      <th>File Name</th>
                      <th>Uploaded At</th>
                      {% comment %} <th>To Date</th>
                      <th>Last CTC</th> {% endcomment %}
                    </tr>
                  </thead>
                  <tbody>
              {% if attachments %} {% for attachment in attachments %}

              <tr>                              
                {% comment %} <td>{{attachment.file}}</td> {% endcomment %}
                <td>
                  <a href="{% url 'download_attachment' attachment.pk %}">
                    {{ attachment.file.name|cut:"uploads/"|default:attachment.file.name }}
                  </a>
                </td>
                <td>{{attachment.uploaded_at}}</td>
                {% comment %} <td>{{attachment.to_date}}</td> {% endcomment %}
                {% comment %} <td>{{attachment.last_ctc}}</td> {% endcomment %}
                {% comment %} <td>
                  <div class="dropdown">
                    <a class="text-muted" href="#" data-bs-toggle="dropdown">
                      <i class="ti ti-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                      <a
                        class="dropdown-item view-branch-btn"
                        href="#"
                        data-id="{{ branch.id }}"
                      >
                        <i class="ti ti-eye me-2"></i> View
                      </a>
                      <a
                        class="dropdown-item edit-branch-btn"
                        href="#"
                        data-id="{{ branch.id }}"
                      >
                        <i class="ti ti-edit me-2"></i> Edit
                      </a>
                      <a
                        class="dropdown-item text-danger"
                        href="javascript:void(0)"
                        onclick="confirmDelete({{ branch.id }})"
                      >
                        <i class="ti ti-trash me-2"></i> Delete
                      </a>
                    </div>
                  </div>
                </td> {% endcomment %}
              </tr>
              {% endfor %} {% else %}
              <tr>
                <td colspan="9" class="text-center">No data available</td>
              </tr>
              {% endif %}
            </tbody>
                </table>
              </div>
            </div> 
          <!--/ Projects table -->



          
        <!-- Connections -->
        {% comment %} <div class="col-lg-12 col-xl-6">
          <div class="card card-action mb-6">
            <div class="card-header align-items-center">
              <h5 class="card-action-title mb-0">Teams</h5>
              <div class="card-action-element">
                <div class="dropdown">
                  <button
                    type="button"
                    class="btn dropdown-toggle hide-arrow p-0"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="ri-more-2-line ri-24px text-muted"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Share teams</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Suggest edits</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Report bug</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mb-0">
                <li class="mb-4">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-2">
                        <img
                          src="../../assets/img/icons/brands/react-label.png"
                          alt="Avatar"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="me-2">
                        <h6 class="mb-1">React Developers</h6>
                        <small>72 Members</small>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="javascript:;"
                        ><span class="badge bg-label-danger rounded-pill"
                          >Developer</span
                        ></a
                      >
                    </div>
                  </div>
                </li>
                <li class="mb-4">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-2">
                        <img
                          src="../../assets/img/icons/brands/support-label.png"
                          alt="Avatar"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="me-2">
                        <h6 class="mb-1">Support Team</h6>
                        <small>122 Members</small>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="javascript:;"
                        ><span class="badge bg-label-primary rounded-pill"
                          >Support</span
                        ></a
                      >
                    </div>
                  </div>
                </li>
                <li class="mb-4">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-2">
                        <img
                          src="../../assets/img/icons/brands/figma-label.png"
                          alt="Avatar"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="me-2">
                        <h6 class="mb-1">UI Designers</h6>
                        <small>7 Members</small>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="javascript:;"
                        ><span class="badge bg-label-info rounded-pill"
                          >Designer</span
                        ></a
                      >
                    </div>
                  </div>
                </li>
                <li class="mb-4">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-2">
                        <img
                          src="../../assets/img/icons/brands/vue-label.png"
                          alt="Avatar"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="me-2">
                        <h6 class="mb-1">Vue.js Developers</h6>
                        <small>289 Members</small>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="javascript:;"
                        ><span class="badge bg-label-danger rounded-pill"
                          >Developer</span
                        ></a
                      >
                    </div>
                  </div>
                </li>
                <li class="mb-5">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-2">
                        <img
                          src="../../assets/img/icons/brands/twitter-label.png"
                          alt="Avatar"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="me-w">
                        <h6 class="mb-1">Digital Marketing</h6>
                        <small>24 Members</small>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="javascript:;"
                        ><span class="badge bg-label-secondary rounded-pill"
                          >Marketing</span
                        ></a
                      >
                    </div>
                  </div>
                </li>
                <li class="text-center">
                  <a href="javascript:;">View all teams</a>
                </li>
              </ul>
            </div>
          </div>
        </div> {% endcomment %}
        <!--/ Connections -->
        <!-- Teams -->
        {% comment %} <div class="col-lg-12 col-xl-6">
          <div class="card card-action mb-6">
            <div class="card-header align-items-center">
              <h5 class="card-action-title mb-0">Teams</h5>
              <div class="card-action-element">
                <div class="dropdown">
                  <button
                    type="button"
                    class="btn dropdown-toggle hide-arrow p-0"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="ri-more-2-line ri-24px text-muted"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Share teams</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Suggest edits</a
                      >
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:void(0);"
                        >Report bug</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mb-0">
                <li class="mb-4">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-2">
                        <img
                          src="../../assets/img/icons/brands/react-label.png"
                          alt="Avatar"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="me-2">
                        <h6 class="mb-1">React Developers</h6>
                        <small>72 Members</small>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="javascript:;"
                        ><span class="badge bg-label-danger rounded-pill"
                          >Developer</span
                        ></a
                      >
                    </div>
                  </div>
                </li>
                <li class="mb-4">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-2">
                        <img
                          src="../../assets/img/icons/brands/support-label.png"
                          alt="Avatar"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="me-2">
                        <h6 class="mb-1">Support Team</h6>
                        <small>122 Members</small>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="javascript:;"
                        ><span class="badge bg-label-primary rounded-pill"
                          >Support</span
                        ></a
                      >
                    </div>
                  </div>
                </li>
                <li class="mb-4">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-2">
                        <img
                          src="../../assets/img/icons/brands/figma-label.png"
                          alt="Avatar"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="me-2">
                        <h6 class="mb-1">UI Designers</h6>
                        <small>7 Members</small>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="javascript:;"
                        ><span class="badge bg-label-info rounded-pill"
                          >Designer</span
                        ></a
                      >
                    </div>
                  </div>
                </li>
                <li class="mb-4">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-2">
                        <img
                          src="../../assets/img/icons/brands/vue-label.png"
                          alt="Avatar"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="me-2">
                        <h6 class="mb-1">Vue.js Developers</h6>
                        <small>289 Members</small>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="javascript:;"
                        ><span class="badge bg-label-danger rounded-pill"
                          >Developer</span
                        ></a
                      >
                    </div>
                  </div>
                </li>
                <li class="mb-5">
                  <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center">
                      <div class="avatar me-2">
                        <img
                          src="../../assets/img/icons/brands/twitter-label.png"
                          alt="Avatar"
                          class="rounded-circle"
                        />
                      </div>
                      <div class="me-w">
                        <h6 class="mb-1">Digital Marketing</h6>
                        <small>24 Members</small>
                      </div>
                    </div>
                    <div class="ms-auto">
                      <a href="javascript:;"
                        ><span class="badge bg-label-secondary rounded-pill"
                          >Marketing</span
                        ></a
                      >
                    </div>
                  </div>
                </li>
                <li class="text-center">
                  <a href="javascript:;">View all teams</a>
                </li>
              </ul>
            </div>
          </div>
        </div> {% endcomment %}
        <!--/ Teams -->
      </div>

</div>
<!--/ Content -->
{% endblock %}
