{% extends 'base.html' %}
{% block content %}
{% load static %}




		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content">

				<!-- Breadcrumb -->
				<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
					<div class="my-auto mb-2">
						<h2 class="mb-1">Companies</h2>
						<nav>
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item">
									<a href="https://smarthr.dreamstechnologies.com/html/template/index.html"><i class="ti ti-smart-home"></i></a>
								</li>
								<li class="breadcrumb-item">
									Application
								</li>
								<li class="breadcrumb-item active" aria-current="page">Companies List</li>
							</ol>
						</nav>
					</div>
					<div class="d-flex my-xl-auto right-content align-items-center flex-wrap ">
						<div class="me-2 mb-2">
							<div class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle btn btn-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
									<i class="ti ti-file-export me-1"></i>Export
								</a>
								<ul class="dropdown-menu  dropdown-menu-end p-3">
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1"><i class="ti ti-file-type-pdf me-1"></i>Export as PDF</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1"><i class="ti ti-file-type-xls me-1"></i>Export as Excel </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="mb-2">
							<a href="#" data-bs-toggle="modal" data-bs-target="#add_company" class="btn btn-primary d-flex align-items-center"><i class="ti ti-circle-plus me-2"></i>Add Company</a>
						</div>
						<div class="ms-2 head-icons">
							<a href="javascript:void(0);" class="" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Collapse" id="collapse-header">
								<i class="ti ti-chevrons-up"></i>
							</a>
						</div>
					</div>
				</div>
				<!-- /Breadcrumb -->

				<div class="row">

					<!-- Total Companies -->
					<div class="col-lg-3 col-md-6 d-flex">
						<div class="card flex-fill">
							<div class="card-body d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center overflow-hidden">
									<span class="avatar avatar-lg bg-primary flex-shrink-0">
										<i class="ti ti-building fs-16"></i>
									</span>
									<div class="ms-2 overflow-hidden">
										<p class="fs-12 fw-medium mb-1 text-truncate">Total Companies</p>
										<h4>950</h4>
									</div>
								</div>
								<div id="total-chart"></div>
							</div>
						</div>
					</div>
					<!-- /Total Companies -->

					<!-- Total Companies -->
					<div class="col-lg-3 col-md-6 d-flex">
						<div class="card flex-fill">
							<div class="card-body d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center overflow-hidden">
									<span class="avatar avatar-lg bg-success flex-shrink-0">
										<i class="ti ti-building fs-16"></i>
									</span>
									<div class="ms-2 overflow-hidden">
										<p class="fs-12 fw-medium mb-1 text-truncate">Active Companies</p>
										<h4>920</h4>
									</div>
								</div>
								<div id="active-chart"></div>
							</div>
						</div>
					</div>
					<!-- /Total Companies -->

					<!-- Inactive Companies -->
					<div class="col-lg-3 col-md-6 d-flex">
						<div class="card flex-fill">
							<div class="card-body d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center overflow-hidden">
									<span class="avatar avatar-lg bg-danger flex-shrink-0">
										<i class="ti ti-building fs-16"></i>
									</span>
									<div class="ms-2 overflow-hidden">
										<p class="fs-12 fw-medium mb-1 text-truncate">Inactive Companies</p>
										<h4>30</h4>
									</div>
								</div>
								<div id="inactive-chart"></div>
							</div>
						</div>
					</div>
					<!-- /Inactive Companies -->

					<!-- Company Location -->
					<div class="col-lg-3 col-md-6 d-flex">
						<div class="card flex-fill">
							<div class="card-body d-flex align-items-center justify-content-between">
								<div class="d-flex align-items-center overflow-hidden">
									<span class="avatar avatar-lg bg-skyblue flex-shrink-0">
										<i class="ti ti-map-pin-check fs-16"></i>
									</span>
									<div class="ms-2 overflow-hidden">
										<p class="fs-12 fw-medium mb-1 text-truncate">Company Location</p>
										<h4>180</h4>
									</div>
								</div>
								<div id="location-chart"></div>
							</div>
						</div>
					</div>
					<!-- /Company Location -->

				</div>

				<div class="card">
					<div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
						<h5>Companies List</h5>
						<div class="d-flex my-xl-auto right-content align-items-center flex-wrap row-gap-3">
							<div class="me-3">
								<div class="input-icon-end position-relative">
									<input type="text" class="form-control date-range bookingrange" placeholder="dd/mm/yyyy - dd/mm/yyyy">
									<span class="input-icon-addon">
										<i class="ti ti-chevron-down"></i>
									</span>
								</div>
							</div>
							<div class="dropdown me-3">
								<a href="javascript:void(0);" class="dropdown-toggle btn btn-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
									Select Plan
								</a>
								<ul class="dropdown-menu  dropdown-menu-end p-3">
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1">Advanced</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1">Basic</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1">Enterprise</a>
									</li>
								</ul>
							</div>
							<div class="dropdown me-3">
								<a href="javascript:void(0);" class="dropdown-toggle btn btn-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
									Select Status
								</a>
								<ul class="dropdown-menu  dropdown-menu-end p-3">
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1">Active</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1">Inactive</a>
									</li>
								</ul>
							</div>
							<div class="dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle btn btn-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
									Sort By : Last 7 Days
								</a>
								<ul class="dropdown-menu  dropdown-menu-end p-3">
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1">Recently Added</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1">Ascending</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1">Desending</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1">Last Month</a>
									</li>
									<li>
										<a href="javascript:void(0);" class="dropdown-item rounded-1">Last 7 Days</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="card-body p-0">
						<div class="custom-datatable-filter table-responsive">
							<table class="table datatable">
								<thead class="thead-light">
									<tr>
										<th class="no-sort">
											<div class="form-check form-check-md">
												<input class="form-check-input" type="checkbox" id="select-all">
											</div>
										</th>
										<th>Company Name</th>
										<th>Email</th>
										<th>Account URL</th>
										<th>Plan</th>
										<th>Created Date</th>
										<th>Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
                                     {% if companies %}
                                    {% for company in companies %} 

									<tr>
										<td>
											<div class="form-check form-check-md">
												<input class="form-check-input" type="checkbox">
											</div>
										</td>
										<td>
											<div class="d-flex align-items-center file-name-icon">
												<a href="#" class="avatar avatar-md border rounded-circle">
													<img src="https://smarthr.dreamstechnologies.com/html/template/assets/img/company/company-01.svg" class="img-fluid" alt="img">
												</a>
												<div class="ms-2">
													<h6 class="fw-medium"><a href="#">{{company.short_name}}</a></h6>
												</div>
											</div>
										</td>
										{% comment %} <td><a href="https://smarthr.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="e885818b80898d84a88d90898598848dc68b8785">[email&#160;protected]</a></td> {% endcomment %}
										<td>{{company.name}}</td>
										<td>
											<div class="d-flex align-items-center justify-content-between">
												<p class="mb-0 me-2">{{ company.address|truncatewords:6 }}</p>
											</div>
										</td>
										<td>{{company.tan_number}}</td>
										<td>
                                            {% if company.status == 'Active' %}
											<span class="badge badge-success d-inline-flex align-items-center badge-xs">
												<i class="ti ti-point-filled me-1"></i>{{company.status}}
											</span>
                                            {% elif company.status == 'InActive' %}
                                            <span class="badge badge-fail    d-inline-flex align-items-center badge-xs">
												<i class="ti ti-point-filled me-1"></i>{{company.status}}
											</span>
                                            {% endif %}
										</td>
										<td>
											<div class="action-icon d-inline-flex">
												<a href="#" class="me-2"  data-bs-toggle="modal" data-bs-target="#company_detail"><i class="ti ti-eye"></i></a>
												<a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#edit_company"><i class="ti ti-edit"></i></a>
												<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete_modal"><i class="ti ti-trash"></i></a>
											</div>
										</td>
									</tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td colspan="9" class="text-center">No data available</td>
                                    </tr>
                                    {% endif %}

								</tbody>
							</table>
						</div>
					</div>
				</div>

			</div>

			<div class="footer d-sm-flex align-items-center justify-content-between border-top bg-white p-3">
				<p class="mb-0">2014 - 2025 &copy; SmartHR.</p>
				<p>Designed &amp; Developed By <a href="javascript:void(0);" class="text-primary">Dreams</a></p>
			</div>

		</div>
		<!-- /Page Wrapper -->

		<!-- Add Company -->
		<div class="modal fade" id="add_company">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add New Company</h4>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="ti ti-x"></i>
						</button>
					</div>
                    <form method = "post">
                        {% csrf_token %}
                        <div class="modal-body pb-0">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Short Name <span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control" name="short_name">
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Company Name <span class="text-danger"> *</span></label>
                                        <input type="text" class="form-control" name="name">
                                    </div>                                    
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Company Address <span class="text-danger"> *</span></label>
                                        <textarea class="form-control" name="address"></textarea>
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">TAN Number</label>
                                        <input type="text" class="form-control" name="tan_number">
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">PAN Number</label>
                                        <input type="text" class="form-control" name="pan_number">
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Employer PF Number</label>
                                        <input type="text" class="form-control" name="employer_pf">
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">PTRC Number</label>
                                        <input type="text" class="form-control" name="ptrc_number">
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">PTEC Number</label>
                                        <input type="text" class="form-control" name="ptec_number">
                                    </div>                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">ESIC Number</label>
                                        <input type="text" class="form-control" name="esic_number">
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add Company</button>
                        </div>
                    </form>
                    
				</div>
			</div>
		</div>
		<!-- /Add Company -->

		<!-- Edit Company -->
		<div class="modal fade" id="edit_company">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Edit Company</h4>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="ti ti-x"></i>
						</button>
					</div>
					<form action="https://smarthr.dreamstechnologies.com/html/template/companies.html">
						<div class="modal-body pb-0">
							<div class="row">
								<div class="col-md-12">
									<div class="d-flex align-items-center flex-wrap row-gap-3 bg-light w-100 rounded p-3 mb-4">                                                
										<div class="d-flex align-items-center justify-content-center avatar avatar-xxl rounded-circle border border-dashed me-2 flex-shrink-0 text-dark frames">
											<img src="https://smarthr.dreamstechnologies.com/html/template/assets/img/profiles/avatar-30.jpg" alt="img" class="rounded-circle">
										</div>                                              
										<div class="profile-upload">
											<div class="mb-2">
												<h6 class="mb-1">Upload Profile Image</h6>
												<p class="fs-12">Image should be below 4 mb</p>
											</div>
											<div class="profile-uploader d-flex align-items-center">
												<div class="drag-upload-btn btn btn-sm btn-primary me-2">
													Upload
													<input type="file" class="form-control image-sign" multiple="">
												</div>
												<a href="javascript:void(0);" class="btn btn-light btn-sm">Cancel</a>
											</div>
											
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">Name <span class="text-danger"> *</span></label>
										<input type="text" class="form-control" value="Stellar Dynamics">
									</div>									
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">Email Address</label>
										<input type="email" class="form-control" value="sophie@example.com">
									</div>									
								</div>
								<div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">Account URL</label>
										<input type="text" class="form-control" value="sd.example.com">
									</div>									
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">Phone Number <span class="text-danger"> *</span></label>
										<input type="text" class="form-control" value="+1 895455450">
									</div>									
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">Website</label>
										<input type="text" class="form-control" value="Admin Website">
									</div>									
								</div>
								<div class="col-md-6">
									<div class="mb-3 ">
										<label class="form-label">Password <span class="text-danger"> *</span></label>
										<div class="pass-group">
											<input type="password" class="pass-input form-control" value="123">
											<span class="ti toggle-password ti-eye-off"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3 ">
										<label class="form-label">Confirm Password <span class="text-danger"> *</span></label>
										<div class="pass-group">
											<input type="password" class="pass-inputs form-control" value="123">
											<span class="ti toggle-passwords ti-eye-off"></span>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">Address</label>
										<input type="text" class="form-control">
									</div>									
								</div>
								<div class="col-md-6">
									<div class="mb-3 ">
										<label class="form-label">Plan Name <span class="text-danger"> *</span></label>
										<select class="select">
											<option>Select</option>
											<option selected>Advanced</option>
											<option>Basic</option>
											<option>Enterprise</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3 ">
										<label class="form-label">Plan Type <span class="text-danger"> *</span></label>
										<select class="select">
											<option>Select</option>
											<option selected>Monthly</option>
											<option>Yearly</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="mb-3 ">
										<label class="form-label">Currency <span class="text-danger"> *</span></label>
										<select class="select">
											<option>Select</option>
											<option selected>USD</option>
											<option>Euro</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="mb-3 ">
										<label class="form-label">Language <span class="text-danger"> *</span></label>
										<select class="select">
											<option>Select</option>
											<option selected>English</option>
											<option>Arabic</option>
										</select>
									</div>
								</div>
								<div class="col-md-4">
									<div class="mb-3 ">
										<label class="form-label">Status</label>
										<select class="select">
											<option>Select</option>
											<option selected>Active</option>
											<option>Inactive</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Save Changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Edit Company -->

		<!-- Upgrade Information -->
		<div class="modal fade" id="upgrade_info">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Upgrade Package</h4>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="ti ti-x"></i>
						</button>
					</div>
					<div class="p-3 mb-1">
						<div class="rounded bg-light p-3">                                                
							<h5 class="mb-3">Current Plan Details</h5>                                              
							<div class="row align-items-center">
								<div class="col-md-4">
									<div class="mb-3">
										<p class="fs-12 mb-0">Company Name</p>
										<p class="text-gray-9">BrightWave Innovations</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="mb-3">
										<p class="fs-12 mb-0">Plan Name</p>
										<p class="text-gray-9">Advanced</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="mb-3">
										<p class="fs-12 mb-0">Plan Type</p>
										<p class="text-gray-9">Monthly</p>
									</div>
								</div>
							</div>
							<div class="row align-items-center">
								<div class="col-md-4">
									<div class="mb-3">
										<p class="fs-12 mb-0">Price</p>
										<p class="text-gray-9">200</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="mb-3">
										<p class="fs-12 mb-0">Register Date</p>
										<p class="text-gray-9">12 Sep 2024</p>
									</div>
								</div>
								<div class="col-md-4">
									<div class="mb-3">
										<p class="fs-12 mb-0">Expiring On</p>
										<p class="text-gray-9">11 Oct 2024</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<form action="https://smarthr.dreamstechnologies.com/html/template/companies.html">
						<div class="modal-body pb-0">
							<h5 class="mb-4">Change Plan</h5>
							<div class="row">
								<div class="col-md-6">
									<div class="mb-3 ">
										<label class="form-label">Plan Name <span class="text-danger">*</span></label>
										<select class="select">
											<option>Select</option>
											<option>Advanced</option>
											<option>Basic</option>
											<option>Enterprise</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3 ">
										<label class="form-label">Plan Type <span class="text-danger">*</span></label>
										<select class="select">
											<option>Select</option>
											<option>Monthly</option>
											<option>Yearly</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="mb-3">
										<label class="form-label">Ammount<span class="text-danger">*</span></label>
										<input type="text" class="form-control">
									</div>									
								</div>
								<div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Payment Date <span class="text-danger">*</span></label>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-calendar text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
								<div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Next Payment Date <span class="text-danger">*</span></label>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-calendar text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
								<div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Expiring On <span class="text-danger">*</span></label>
                                        <div class="input-icon-end position-relative">
                                            <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                            <span class="input-icon-addon">
                                                <i class="ti ti-calendar text-gray-7"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div> 
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Save Changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Upgrade Information -->

		<!-- Company Detail -->
		<div class="modal fade" id="company_detail">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Company Detail</h4>
						<button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="ti ti-x"></i>
						</button>
					</div>
					<div class="moday-body">
						<div class="p-3">
							<div class="d-flex justify-content-between align-items-center rounded bg-light p-3">                                                
								<div class="file-name-icon d-flex align-items-center">
									<a href="#" class="avatar avatar-md border rounded-circle flex-shrink-0 me-2">
										<img src="https://smarthr.dreamstechnologies.com/html/template/assets/img/company/company-01.svg" class="img-fluid" alt="img">
									</a> 
									<div>
										<p class="text-gray-9 fw-medium mb-0">BrightWave Innovations</p>
										<p><a href="https://smarthr.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="74191d171c15111834110c15190418115a171b19">[email&#160;protected]</a></p>
									</div>
								</div>                                        
								<span class="badge badge-success"><i class="ti ti-point-filled"></i>Active</span>
							</div>
						</div>
						<div class="p-3">                                                
							<p class="text-gray-9 fw-medium">Basic Info</p>                                            
							<div class="pb-1 border-bottom mb-4">
								<div class="row align-items-center">
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Account URL</p>
											<p class="text-gray-9">bwi.example.com</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Phone Number</p>
											<p class="text-gray-9">(163) 2459 315</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Website</p>
											<p class="text-gray-9">www.exmple.com</p>
										</div>
									</div>
								</div>
								<div class="row align-items-center">
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Currency</p>
											<p class="text-gray-9">United Stated Dollar (USD)</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Language</p>
											<p class="text-gray-9">English</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Addresss</p>
											<p class="text-gray-9">3705 Lynn Avenue, Phelps, WI 54554</p>
										</div>
									</div>
								</div>
							</div>
							<p class="text-gray-9 fw-medium">Plan Details</p>                                            
							<div>
								<div class="row align-items-center">
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Plan Name</p>
											<p class="text-gray-9">Advanced</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Plan Type</p>
											<p class="text-gray-9">Monthly</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Price</p>
											<p class="text-gray-9">$200</p>
										</div>
									</div>
								</div>
								<div class="row align-items-center">
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Register Date</p>
											<p class="text-gray-9">12 Sep 2024</p>
										</div>
									</div>
									<div class="col-md-4">
										<div class="mb-3">
											<p class="fs-12 mb-0">Expiring On</p>
											<p class="text-gray-9">11 Oct 2024</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
					
				</div>
			</div>
		</div>
		<!-- /Company Detail -->

		<!-- Delete Modal -->
		<div class="modal fade" id="delete_modal">
			<div class="modal-dialog modal-dialog-centered modal-sm">
				<div class="modal-content">
					<div class="modal-body text-center">
						<span class="avatar avatar-xl bg-transparent-danger text-danger mb-3">
							<i class="ti ti-trash-x fs-36"></i>
						</span>
						<h4 class="mb-1">Confirm Delete</h4>
						<p class="mb-3">You want to delete all the marked items, this cant be undone once you delete.</p>
						<div class="d-flex justify-content-center">
							<a href="javascript:void(0);" class="btn btn-light me-3" data-bs-dismiss="modal">Cancel</a>
							<a href="https://smarthr.dreamstechnologies.com/html/template/companies.html" class="btn btn-danger">Yes, Delete</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Modal -->

	<!-- /Main Wrapper -->

    {% endblock %}